*{
    padding: 0; 
    margin:0;
    box-sizing:border-box
  }

  body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 249, 249);
    
    
  }
    header{
        width: 100%;
        height: 100vh;
        background:  url("https://img.freepik.com/free-photo/top-close-up-view-vegetables-tomatoes-with-pedicels-garlic-bell-peppers-lemon-oil-onion_140725-72203.jpg?t=st=1716467391~exp=1716470991~hmac=a29d5264d213f956ff11de5d4fb979ea15ebf22268f39660342eea097fa26cfb&w=996");
        background-size: cover;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 10px;

    }
    
    .logo img{
      width: 90px; /* Adjust logo size */
      height: auto;
      border-radius: 50%; /* Make logo circular */
      margin-left: auto;
      margin-right:auto
    }
    nav{
      width:100%;
      height:100px;
      padding: 10px 20px;
      background: transparent;
      color:rgb(31, 18, 18);
      display:inline-flex;
      justify-content: space-around;
      align-items:center;
      background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2));

    }
    .menubar a{
      text-decoration:none;
      display:inline-flex;
      color:rgb(239, 236, 236);
      padding: 10px 20px;
      font-size:20px;
      position: relative;
      
    }
    .menubar a:hover{
background-color: #0c0c0c;
border-radius: 10px;
}
    .signin a{
      text-decoration: none;
      color:white;
      padding:10px 20px;
      border-radius:10px;
      border:1px solid black;
    }
    

    .signin a:hover{
      background-color: #000000;
      border-radius: 10px;
    }
    section{
      display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: cursive;
  padding: 0 3rem;
    }

    .content-left {

right: 0px;
    text-align: left;
    max-width: 1000px;
    padding: 50px 40px;
    
  }
  section h1{
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    padding: 20px;
  }
  .t{
    max-width: 650px;
    position:absolute;
    top:50%;
    left:30%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    text-align:center
  }
  .t span{
    letter-spacing: 5px;
  }
  .t h1{
    font-size: 60px;
  }
  .content-left h1{
    text-align:center;
    
  }
  input[type=text]{
    margin-left: 1050px;
    width:20%;
    border-radius: 10px;
    height:50px;
   margin-top: 20px;
    border: 1px solid #ccc;
    font-size:20px;
  }
  input[placeholder]{
    padding:10px;
  }
  button{
    border-radius: 10px;
    width:8%;
    height:50px;
    font-size:20px;
    background:black;
    color:white;
  }
  .t h3{
    text-decoration: none;
      color:black;
      padding:10px 20px;
      border-radius:10px;
      border: 1px solid rgb(0, 0, 0);
      
  }
  .t h3:hover{
    background-color: #e28181;
border-radius: 10px;
  }

  #popular{
    margin: 80px auto;
  }
  .container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    margin: 40px 0px;
    
  }
  .container1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    margin: 40px 0px;
  }
  
  .productbox {
    width: 100%;
    border:1px solid #eeeeee;
    background-color: #ffffff;
    padding:20px;
    border-radius:20px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  .productbox1{
    width: 458px;
    border:1px solid #eeeeee;
    background-color: #e2cccc;
    padding:20px;
    border-radius:20px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  .productbox1:hover{
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
  }
  .productbox1 img{
    width:90%;
    height:180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
  }
  .productbox img{
    width:90%;
    height:180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
  }
  #popular,#aboutus,#faqs,#contactus{
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    margin:50px auto;
  
  }
  .productbox1 h6:hover{
    border-radius:10px;
      background:black;
      
  }
  #aboutus1{
    display:flex;
    flex-direction: column;
    max-width: 1900px;
    margin:50px auto;
  }
  

  .t img{
    width:300px;
  }
  
  .productbox:hover{
    border: 1px solid black;
    transform: scale(1.3);
    z-index: 2;
  }
  footer .foot-cols{
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(4, 1fr);
padding: 3rem;
text-align: left;
font-size: 14px;
background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2));
color: white;

}

footer .foot-cols ul{
list-style:none;
color: white;
}

footer .foot-cols ul li:first-child{
font-size: 1.2rem;
padding-bottom: 0.5rem;
border-bottom: grey solid 6px;
margin-bottom: 1rem;
color:white;
}
footer .foot-cols ul li a{
text-decoration: none;
color:white;
}
footer .footer-bottom{
text-align: center;
padding: 1rem;

}
.productbox1 h6{
padding:5px 10px; background-color: #b1b344; border-radius: 10px; color: white;
}
.productbox1 h6:hover{
background-color: #000000;
border-radius: 10px;
}
footer .foot-cols{
text-align: center;
}
footer .foot-cols h4{
text-align: left;
}
.productbox .price{
text-align: center;
font-size: 30px;
}
